<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<head>
  <title><%= title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta id="viewport" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keyword %>">
  <meta name="author" content="Jaewonism">

  <meta property="og:title" content="<%= title %>">
  <meta property="og:site_name" content="Jaewonism's blog">
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:image" content="<%= image %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:locale" content="ko_KR">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@j1ism">
  <meta name="twitter:image:src" content="<%= image %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="msapplication-TileImage" content="<%= image %>">

  <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
  <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-ie7.css">
  <![endif]-->
  <% if (mode === 'development') { %>
  <link rel="stylesheet" href="/css/application.css"/>
  <link rel="stylesheet" href="/css/<%= asset %>.css" />
  <% } else { %>
  <link rel="stylesheet" href="/css/application.min.css"/>
  <link rel="stylesheet" href="/css/<%= asset %>.min.css" />
  <% } %>
</head>
<body>

