<%- include layouts/header %>
<div class="top-slider">
  <img class="slider-element" src="/images/cherryblossom.jpg" alt="top-slider-image"/>
</div>
<%- include commons/root_header %>
<div id="body-container">
  <%
    var i = 0;
    for (; i < posts.length; i++) {
      post = posts[i];
  %>
  <div class="post-card">
    <% if (post.thumbnail) { %>
    <a class="post-link-image" href="/posts/<%= post.id %>">
      <img class="card-thumbnail" src="<%- post.thumbnail %>" alt="post thumbnail"/>
    </a>
    <% } %>
    <div class="card-summary">
      <table><tbody><tr><td>
        <%
          var categoryName = '';

          var j = 0;
          for (; j < categories.length; j++) {
            if (categories[j].id === post.category_id) {
              categoryName = categories[j].name;
            }
          }
        %>
        <a class="post-category-link" href="/posts/categories/<%= post.category_id %>">
          <span class="card-category-name main-color"><%= categoryName %></span>
        </a>
        <a class="post-link-title" href="/posts/<%= post.id %>">
          <div class="card-title normal-color">
            <%= post.title %>
          </div>
        </a>
        <div class="card-info normal-color">
          <%
            var date = post.created_at;
            var dateStr = '';
            var monthStrArr = ['JAN', 'FAB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
            dateStr = monthStrArr[date.getMonth()] + ' ' + date.getDate() + '. ' + date.getFullYear();
          %>
          <%= dateStr %>
        </div>
      </td></tr></tbody></table>
    </div>
  </div>
  <% } %>
  <% if (pages > 1) { %>
  <ul class="list-layout pagination none">
    <%
      var className = '';

      var pageCounter = 0;
      for (; pageCounter <= pages; pageCounter++) {
        if ((pageCounter + 1) === page) {
          className = 'active';
        } else if ((pageCounter + 1) === (page + 1)) {
          className = 'next';
        } else {
          className = '';
        }
    %>
    <li class="<%= className %>">
      <a href="/?page=<%= (pageCounter + 1) %>"><%= (pageCounter + 1) %></a>
    </li>
    <% } %>
  </ul>
  <% } %>
</div>
<%- include commons/footer %>
<%- include layouts/footer %>

