<%- include layouts/header %>
<%- include commons/header %>
<div id="body-container">
  <%
    var post, categoryName;
    for (var i = 0, len = posts.length; i < len; i++) {
      post = posts[i];
  %>
  <article class="post-card">
    <% if (post.background_image) { %>
    <a class="post-image-link" href="/posts/<%= post.id %>">
      <img class="post-image" src="<%- post.background_image %>" alt="post image"/>
    </a>
    <% } %>
    <section class="post-information">
      <%
        categoryName = '';
        for (var j = 0, innerLen = categories.length; j < innerLen; j++) {
          if (categories[j].id === post.category_id) {
            categoryName = categories[j].name;
          }
        }
      %>
      <i class="fa fa-tags"></i>
      <a class="post-category-link" href="/posts/categories/<%= post.category_id %>">
        <span class="post-category-name">
          <%= categoryName %>
        </span>
      </a>
      &nbsp;&nbsp;
      <i class="fa fa-calendar"></i>
      <span class="post-registered">
        <%
          var date = post.created_at;
          var dateStr = '';
          var monthStrArr = ['JAN', 'FAB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
          dateStr = monthStrArr[date.getMonth()] + ' ' + date.getDate() + '. ' + date.getFullYear();
        %>
        <%= dateStr %>
      </span>
      <a class="post-link-title" href="/posts/<%= post.id %>">
        <h1 class="post-title">
          <%= post.title %>
        </h1>
      </a>
      <p class="post-content"><%= post.text.length > 200 ? post.text.slice(-200) + '...' : post.text %></p>
      <a class="" href="/posts/<%= post.id %>">Go to Link →</a>
    </section>
  </article>
  <% } %>
  <% if (pages > 1) { %>
  <ul class="list-layout pagination none">
    <%
      var className = '';
      var pageCounter = 0;
      for (; pageCounter <= pages; pageCounter++) {
        if ((pageCounter + 1) === page) {
          className = 'active';
        } else if ((pageCounter + 1) === (page + 1)) {
          className = 'next';
        } else {
          className = '';
        }
    %>
    <li class="<%= className %>">
      <a href="/?page=<%= (pageCounter + 1) %>"><%= (pageCounter + 1) %></a>
    </li>
    <% } %>
  </ul>
  <% } %>
</div>
<%- include commons/footer %>
<%- include layouts/footer %>

