<%- include ../layouts/header %>
<% if (authFlash && authFlash.length) { %>
<script>
  alert('<%- authFlash[authFlash.length - 1] %>');
</script>
<div class="flash none"><%- authFlash %><button class="rm-style-button pull-right" type="button" role="close"><i class="fa fa-close"></i></button></div>
<div class="flash-back opacity-3 none"></div>
<% } %>
<%- include ../commons/header %>
<div id="body-container">
  <form id="login-form" action="/login" method="post">
    <div class="form-control">
      <label for="user_id">ID</label><br/>
      <input class="default-input" type="text" name="user_id" id="user_id" placeholder=""/>
    </div>
    <div class="form-control">
      <label for="password">PASSWORD</label><br/>
      <input class="default-input" type="password" name="password" id="password"/>
    </div>
    <div class="form-control">
      <input id='join-submit' class="btn btn-primary" type="submit" value="로그인"></button>
    </div>
  </form>
  <div class="login-form">
    <a class="oauth-login facebook" href="/login/oauth/facebook">페이스북으로 로그인하기</a>
    <a class="oauth-login twitter" href="/login/oauth/twitter">트위터로 로그인하기</a>
    <a class="oauth-login google" href="/login/oauth/google">구글+로 로그인하기</a>
    <a class="oauth-login kakao" href="/login/oauth/kakao">카카오톡로 로그인하기</a>
    <a class="oauth-login naver" href="/login/oauth/naver">네이버로 로그인하기</a>
  </div>
</div>
<%- include ../commons/footer %>
<%- include ../layouts/footer %>

