<%- include ../layouts/header %>
<% if (authFlash && authFlash.length) { %>
<script>
  alert(<%- authFlash %>);
</script>
<div class="flash none"><%- authFlash %><button class="rm-style-button pull-right" type="button" role="close"><i class="fa fa-close"></i></button></div>
<div class="flash-back opacity-3 none"></div>
<% } %>
<%- include ../commons/header %>
<div id="body-container">
  <form id="login-form" action="/login" method="post" enctype="multipart/form-data">
    <div class="form-control">
      <label for="user_id">ID</label><br/>
      <input class="default-input" type="text" name="user_id" id="user_id" placeholder=""/>
    </div>
    <div class="form-control">
      <label for="password">PASSWORD</label><br/>
      <input class="default-input" type="password" name="password" id="password"/>
    </div>
    <div class="form-control">
      <input id='join-submit' class="btn btn-primary" type="submit" value="로그인"></button>
    </div>
  </form>
</div>
<%- include ../commons/footer %>
<%- include ../layouts/footer %>

