<%- include ../layouts/header %>
<%- include ../commons/header %>
<h1><%= title %></h1>
<form action="/categories/delete/<%= category.id %>?_method=DELETE" method="post" >
  <table border="1">
    <input type="hidden" name="id" value="<%= category.id %>"/>
    <tr>
      <td>이름</td>
      <td><%= category.name %></td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit">삭제</button>
      </td>
    </tr>
  </table>
</form>
<%- include ../commons/footer %>
<%- include ../layouts/footer %>

