<%- include ../layouts/header %>
<%- include ../commons/header %>
<h1><%= title %></h1>
<a href="/boards/new">유저 등록</a>
<br>
<br>
<table border="1">
  <tr>
    <td>id</td>
    <td>이름</td>
    <td>이메일</td>
  </tr>
<%
  var i = 0;
  for (; i < users.length; i++) {
    var oneItem = users[i];
%>
  <tr>
    <td><%= oneItem.id %></td>
    <td><a href="/users/show/<%= oneItem.id %>"><%= oneItem.name %></a></td>
    <td><%= oneItem.email %></td>
  </tr>
<%
  }
%>
</table>
<%- include ../commons/footer %>
<%- include ../layouts/footer %>

