<%- include ../layouts/header %>
<%- include ../commons/header %>
<h1><%= title %></h1>
<% if (false) { %>
<form action="/users/update/<%= user.id %>" method="post" enctype="multipart/form-data">
<% } else { %>
<form action="/users/update/<%= user.id %>" method="post">
<% } %>
  <table border="1">
    <input type="hidden" name="id" value="<%= user.id %>"/>
    <tr>
      <td>이름</td>
      <td><input type="text" name="name" id="name" value="<%= user.name %>" required/></td>
    </tr>
    <tr>
      <td>이메일</td>
      <td><input type="text" name="email" id="email" value="<%= user.email %>" required/></td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit">수정</button>
      </td>
    </tr>
  </table>
</form>
<%- include ../commons/footer %>
<%- include ../layouts/footer %>

